body{
  margin-bottom:0%;
  margin-top:0%;
  margin-left:20%;
  Margin-right:20%;
  border-style:double;
  border-width:medium;
}
a{
  color:black;
}
body{
	background-color:grey;color:#d9d9d9
}
h3{
	font-family:"times new roman";color:#000000
}

h1{
	font-size:42px
	
}

table{
	width:100%;
}
tr:nth-child(even) {background-color:black
}

